<!DOCTYPE html>
<html>
<head>
    <title>Inspection App</title>
    <style>
        body { font-family: Arial; margin: 40px; }
        .dropzone {
            border: 2px dashed #aaa;
            padding: 20px;
            margin-bottom: 20px;
        }
        .checkbox-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px 20px;
            max-width: 800px;
        }

        .checkbox-grid label {
            display: flex;
            align-items: center;
            gap: 6px;
        }
    </style>
</head>
<body>

<h1>Inspection Report Generator</h1>

<form method="POST" enctype="multipart/form-data">
    <div class="checkbox-grid">

        <label><input type="checkbox" name="sum" value="s"> Summary</label>
        <label><input type="checkbox" name="work" value="w"> Work done or will be done</label>
        <label><input type="checkbox" name="recommend" value="r"> Recommendations Require Approval</label>

        <label><input type="checkbox" name="locks" value="l"> Lock</label>
        <label><input type="checkbox" name="smoking" value="sm"> Signs of Smoking</label>
        <label><input type="checkbox" name="pets" value="p"> Signs of Pets</label>

        <label><input type="checkbox" name="app" value="a"> Appliances</label>
        <label><input type="checkbox" name="plumbing" value="pl"> Plumbing</label>
        <label><input type="checkbox" name="electrical" value="e"> Electrical</label>

        <label><input type="checkbox" name="detect" value="d"> Smoke & CO Detectors</label>
        <label><input type="checkbox" name="hvac" value="h"> HVAC & Filter</label>
        <label><input type="checkbox" name="shut" value="sh"> Water Shutoff</label>

        <label><input type="checkbox" name="doors" value="do"> Doors & Windows</label>
        <label><input type="checkbox" name="steps" value="st"> Steps & Handrails</label>
        <label><input type="checkbox" name="garage" value="g"> Garage Doors</label>

        <label><input type="checkbox" name="ac" value="ac"> AC Condenser</label>

    </div>
    
    <textarea name="inspection_text" rows="6" cols="80"
        placeholder="Paste inspection notes here..."></textarea>
<!--        <input type="file" name="{{ key }}" multiple>

    {% for key, label in sections.items() %}
        <h3>{{ label }}</h3>
            <div class="dropzone"
                ondrop="dropHandler(event, '{{ key }}')"
                ondragover="event.preventDefault()">
                Drag & Drop Images Here
                <input type="file" name="{{ key }}" multiple>
            </div>
    {% endfor %}
-->
    <br>
    <button type="submit">Generate PDF Report</button>
</form>

<!--script>
function dropHandler(ev, key) {
    ev.preventDefault();
    const input = document.querySelector(`input[name="${key}"]`);
    input.files = ev.dataTransfer.files;
}
</script-->

</body>
</html>
