<!DOCTYPE html>
<html>
<head>
    <title>Inspection App</title>
    <style>
        body { font-family: Arial; margin: 40px; }
        .dropzone {
            border: 2px dashed #aaa;
            padding: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<h1>Inspection Report Generator</h1>

<form method="POST" enctype="multipart/form-data">
    <input type="checkbox" id="summary" name="sum" value="s">
    <label for="summary">Summary</label>
    <input type="checkbox" id="work" name="work" value="w">
    <label for="work">Work done or will be done</label>
    <input type="checkbox" id="recommend" name="recommend" value="r">
    <label for="recommend">Recomendations Require Approval</label>
    <br>
    <input type="checkbox" id="locks" name="locks" value="l">
    <label for="locks">Lock</label>
    <input type="checkbox" id="smoking" name="smoking" value="sm">
    <label for="smoking">Signs of Smoking</label>
    <input type="checkbox" id="pets" name="pets" value="p">
    <label for="pets">Signs of Pets</label>
    <br>
    <input type="checkbox" id="appliance" name="app" value="a">
    <label for="appliance">Appliances</label>
    <input type="checkbox" id="plumbing" name="plumbing" value="pl">
    <label for="smoking">Plumbing</label>
    <input type="checkbox" id="electrical" name="electrical" value="e">
    <label for="electrical">Electrical</label>
    <br>
    <input type="checkbox" id="detectors" name="detect" value="d">
    <label for="detectors">Smoke & CO Detectors</label>
    <input type="checkbox" id="hvac" name="hvac" value="h">
    <label for="hvac">HVAC & Filter</label>
    <input type="checkbox" id="shutoff" name="shut" value="sh">
    <label for="shutoff">Water Shutoff</label>
    <br>
     <br>
    <input type="checkbox" id="doors" name="doors" value="do">
    <label for="doors">Doors & Windows</label>
    <input type="checkbox" id="steps" name="steps" value="st">
    <label for="steps">Steps & Handrails</label>
    <input type="checkbox" id="garage" name="garage" value="g">
    <label for="garage">Garage Doors</label>
    <input type="checkbox" id="ac" name="ac" value="ac">
    <label for="ac">AC Condenser</label>
    <br>
    
    <textarea name="inspection_text" rows="6" cols="80"
        placeholder="Paste inspection notes here..."></textarea>
<!--        <input type="file" name="{{ key }}" multiple>

    {% for key, label in sections.items() %}
        <h3>{{ label }}</h3>
            <div class="dropzone"
                ondrop="dropHandler(event, '{{ key }}')"
                ondragover="event.preventDefault()">
                Drag & Drop Images Here
                <input type="file" name="{{ key }}" multiple>
            </div>
    {% endfor %}
-->
    <br>
    <button type="submit">Generate PDF Report</button>
</form>

<!--script>
function dropHandler(ev, key) {
    ev.preventDefault();
    const input = document.querySelector(`input[name="${key}"]`);
    input.files = ev.dataTransfer.files;
}
</script-->

</body>
</html>
